{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
    <title>{% block title %}{% endblock %} - MyFlask</title>
{% endblock %}

{% block content %}
    <div class="container">
            
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
        {% endfor %}

        {% block page_content %}

        <div class="page-header">
            <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
            <h1> 
            {% if email %}
                {% if "utoronto" is in email %} Your UofT Email is {{email}}
                {% else %} Please use your UofT email 
                {% endif %}
            {% endif %}
            </h1>
        </div>
        {{ wtf.quick_form(form) }}
        {% endblock %}
    </div>
{% endblock %}
